<template>
  <AppHeaderDropdown right no-caret class="mr-4">
    <template slot="header">
      <span
        class="drop-header dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >{{ user.name }}</span
      >
    </template>
    <template slot="dropdown">
      <b-dropdown-header class="text-center"
        ><strong>Account</strong></b-dropdown-header
      >
      <b-dropdown-item class="item" @click="profile()">
        <strong> <i class="fa fa-user" />Profile</strong></b-dropdown-item
      >
      <b-dropdown-item @click="submitLogout()" class="item"
        ><i class="fa fa-lock" />Logout</b-dropdown-item
      >
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from "@coreui/vue";
import { mapActions } from "vuex";
import { router } from "../router";
export default {
  name: "DefaultHeaderDropdown",
  components: {
    AppHeaderDropdown,
  },
  data() {
    return {
      user: JSON.parse(localStorage.getItem("user")),
    };
  },
  methods: {
    ...mapActions("auth", ["logout"]),
    profile() {
      router.push("/user/profile");
    },
    submitLogout() {
      this.logout();
    },
  },
};
</script>

<style lang="sass" scoped>
.dropdown-menu
  min-width: 11rem

.item
  min-width: 6rem
</style>

