<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <b-row>
          <b-col sm="12">
            <h4 class="mt-4 mb-4"><strong>User List</strong></h4>
            <div class="tableWrapper table-responsive">
              <b-table
                striped
                :items="users"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
              >
              </b-table>
            </div>
            <nav>
              <b-pagination
                id="pagination"
                class="mt-4"
                :total-rows="users.length"
                :per-page="perPage"
                v-model="currentPage"
                prev-text="Prev"
                next-text="Next"
                hide-goto-end-buttons
              />
            </nav>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import VueNotifications from "vue-notifications";

export default {
  name: "UserList",
  data() {
    return {
      fields: [
        { label: "Id", key: "id" },
        { label: "Name", key: "name" },
        { label: "Email", key: "email" },
        { label: "Verfied At", key: "email_verified_at" },
        { label: "Created", key: "created_at" },
        { label: "Modified", key: "updated_at" },
      ],
      currentPage: 1,
      perPage: 10,
      selected_post_id: "",
    };
  },
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Error Message",
      message: "Internal Server Error",
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Success Message",
      message: "Success",
    },
  },
  watch: {
    error_message(new_val) {
      if (new_val) {
        this.showErrorMsg({ message: new_val });
      }
    },
    success_message(new_val) {
      if (new_val) {
        this.showSuccessMsg({ message: new_val });
      }
    },
  },
  created() {
    this.getUsers();
  },
  computed: {
    ...mapGetters("user", {
      users: "users",
      error_message: "error_message",
      success_message: "success_message",
    }),
  },
  methods: {
    ...mapActions("user", ["getUsers"])
  },
};
</script>
