<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <b-row>
          <b-col sm="12">
            <h4 class="mt-4 mb-4"><strong>User Detail</strong></h4>
          </b-col>
          <b-col sm="8">
            <b-card>
              <b-form @submit.prevent="handleSubmit">
                <label for="name"><strong>Id</strong></label>
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Id"
                      v-model="user.id"
                      autocomplete="id"
                      name="id"
                      disabled
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Name</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Name"
                      v-model="user.name"
                      autocomplete="name"
                      name="name"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Email</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Email"
                      v-model="user.email"
                      autocomplete="email"
                      name="email"
                      v-validate="'email'"
                      :class="{ 'is-invalid': verror.has('email') }"
                    ></b-form-input>
                    <div
                      v-if="verror.has('email') && user.email"
                      class="invalid-feedback"
                    >
                      *Email must be email format.
                    </div>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Password</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Password"
                      v-model="user.password"
                      autocomplete="password"
                      name="password"
                      v-validate="'min:8|max:30'"
                      :class="{ 'is-invalid': verror.has('password') }"
                    ></b-form-input>
                    <div
                      v-if="verror.has('password') && user.password"
                      class="invalid-feedback"
                    >
                      *The length of password must be between 8 - 30.
                    </div>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Created At</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Created At"
                      v-model="user.created_at"
                      autocomplete="created_at"
                      name="created_at"
                      disabled
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Modified At</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Modified At"
                      v-model="user.updated_at"
                      autocomplete="updated_at"
                      name="updated_at"
                      disabled
                    ></b-form-input>
                  </b-col>
                </b-row>

                <b-row>
                  <b-col
                    cols="12"
                    class="d-flex justify-content-center mt-5 mb-4"
                  >
                    <b-btn class="mr-2" variant="secondary" @click="gotoList()"
                      >Cancel</b-btn
                    >
                    <b-btn
                      variant="success"
                      @click="handleSubmit()"
                      class="ml-2"
                      >Update</b-btn
                    >
                  </b-col>
                </b-row>
              </b-form>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import VueNotifications from "vue-notifications";
import { router } from "../../router";

export default {
  name: "UserProfile",
  data() {
    return {
      user_payload: {},
      init: 0,
    };
  },
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Error Message",
      message: "Internal Server Error",
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Success Message",
      message: "Success",
    },
  },
  watch: {
    error_message(new_val) {
      if (new_val) {
        this.showErrorMsg({ message: new_val });
      }
    },
    success_message(new_val) {
      if (new_val) {
        this.showSuccessMsg({ message: new_val });
      }
    },
    user(new_val) {
      if (new_val && this.init < 1) {
        this.init++;
        this.user_payload = JSON.stringify(this.user);
      }
    },
  },
  created() {
    this.getProfile();
  },
  computed: {
    ...mapGetters("user", {
      user: "user",
      error_message: "error_message",
      success_message: "success_message",
    }),
  },
  methods: {
    ...mapActions("user", ["getProfile", "updateProfile"]),
    gotoList() {
      router.push("/user/list");
    },
    handleSubmit() {
      const params = {
        name: this.user.name,
      };
      const temp_user = JSON.parse(this.user_payload);
      if (temp_user.email !== this.user.email)
        params["email"] = this.user.email;
      if (this.user.password) params["password"] = this.user.password;
      this.$validator.validateAll().then(async (result) => {
        if (result) {
          this.updateProfile(params);
        }
      });
    },
  },
};
</script>
