<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <b-row>
          <b-col sm="12">
            <h4 class="mt-4 mb-4"><strong>Master Detail</strong></h4>
          </b-col>
          <b-col sm="8">
            <b-card>
              <b-form>
                <label for="name"><strong>Id</strong></label>
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Id"
                      v-model="master.id"
                      autocomplete="id"
                      name="id"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>External Id</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter External Id"
                      v-model="master.external_id"
                      autocomplete="external_id"
                      name="external_id"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Name</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Name"
                      v-model="master.name"
                      autocomplete="name"
                      name="name"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Active</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Active"
                      v-model="master.is_active"
                      autocomplete="is_active"
                      name="is_active"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>List Order</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter List Order"
                      v-model="master.list_order"
                      autocomplete="list_order"
                      name="list_order"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Created At</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Created At"
                      v-model="master.created"
                      autocomplete="created"
                      name="created"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <label for="device-model" class="mt-3"
                  ><strong>Modified At</strong></label
                >
                <b-row>
                  <b-col cols="12">
                    <b-form-input
                      type="text"
                      class="form-control"
                      placeholder="Enter Modified At"
                      v-model="master.modified"
                      autocomplete="modified"
                      name="modified"
                    ></b-form-input>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col
                    cols="12"
                    class="d-flex justify-content-center mt-5 mb-4"
                  >
                    <b-btn class="mr-2" variant="primary" @click="gotoList()"
                      >To Master List</b-btn
                    >
                  </b-col>
                </b-row>
              </b-form>
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import VueNotifications from "vue-notifications";
import { router } from "../../router";

export default {
  name: "MasterDetail",
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Error Message",
      message: "Internal Server Error",
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Success Message",
      message: "Success",
    },
  },
  watch: {
    error_message(new_val) {
      if (new_val) {
        this.showErrorMsg({ message: new_val });
      }
    },
    success_message(new_val) {
      if (new_val) {
        this.showSuccessMsg({ message: new_val });
      }
    },
  },
  created() {
    this.getMaster(this.$route.params.id);
  },
  computed: {
    ...mapGetters("master", {
      master: "master",
      error_message: "error_message",
      success_message: "success_message",
    }),
  },
  methods: {
    ...mapActions("master", ["getMaster"]),
    gotoList() {
      router.push("/master/list");
    },
  },
};
</script>
