<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <b-row>
          <b-col sm="12">
            <h4 class="mt-4 mb-4"><strong>Master List</strong></h4>
            <div class="tableWrapper table-responsive">
              <b-table
                striped
                :items="masters"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
              >
                <template v-slot:cell(edit)="data">
                  <b-button
                    variant="primary"
                    @click="gotoDetail(data.item.id)"
                    ><i class="fa fa-pencil mr-2"></i>Detail</b-button
                  >
                </template>
              </b-table>
            </div>
            <nav>
              <b-pagination
                id="pagination"
                class="mt-4"
                :total-rows="masters.length"
                :per-page="perPage"
                v-model="currentPage"
                prev-text="Prev"
                next-text="Next"
                hide-goto-end-buttons
              />
            </nav>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import VueNotifications from "vue-notifications";
import { router } from "../../router";

export default {
  name: "post-list",
  data() {
    return {
      fields: [
        { label: "Id", key: "id" },
        { label: "External Id", key: "external_id" },
        { label: "Name", key: "name" },
        { label: "Active", key: "is_active" },
        { label: "Order", key: "list_order" },
        { label: "Created", key: "created" },
        { label: "Modified", key: "modified" },
        { label: "", key: "edit" },
      ],
      currentPage: 1,
      perPage: 10,
      selected_post_id: "",
    };
  },
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Error Message",
      message: "Internal Server Error",
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Success Message",
      message: "Success",
    },
  },
  watch: {
    error_message(new_val) {
      if (new_val) {
        this.showErrorMsg({ message: new_val });
      }
    },
    success_message(new_val) {
      if (new_val) {
        this.showSuccessMsg({ message: new_val });
      }
    },
  },
  created() {
    this.getMasters();
  },
  computed: {
    ...mapGetters("master", {
      masters: "masters",
      error_message: "error_message",
      success_message: "success_message",
    }),
  },
  methods: {
    ...mapActions("master", ["getMasters"]),
    gotoDetail(id) {
      router.push(`/master/detail/${id}`);
    },
  },
};
</script>
